.modal {
	top: 0%;
	left: 0%;
	opacity: 0;
	z-index: 1;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	background-color: black;
	transition: all 1.66s ease-in;
}

.modal.active {
	opacity: 0.97;
	z-index: 12345;
	display: block;
	transition: all 1.66s ease-out;
}

.modal.hidden {
	display: none;
}
