.modal.splash {
	color: red;
	font-size: 64px;
	text-align: center;
}

.modal.spinner {
	color: darkslategrey;
}

.modal.poster {
	color: darkslategrey;
	text-align: center;
}
.posterImage {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 480px;
	max-width: 480px;
	transform: translate(-50%, -50%);
}

.modal.trailer {
	color: darkslategrey;
	text-align: center;
}
.trailerVideo {
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 1;
	z-index: 12355;
	min-width: 300px;
	max-width: 720px;
	transform: translate(-50%, -50%);
}
