.shelfContainer {
	left: 0%;
	top: 0%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	z-index: 10;
	overflow: hidden;
	background-color: transparent;
}

.shelf {
	opacity: 0.0;
	position: absolute;
	left: 50%;
	padding-top: 45px;
	z-index: 100;
	width: 575px;
	min-width: 575px;
	max-width: 575px;
	height: calc(100% - 2px);
	min-height: calc(100% - 0px);
	max-height: calc(100% - 0px);
	overflow-x: hidden;
	overflow-y: scroll;
	color: black;
	font-size: 24px;
	font-weight: bold;
	background-color: transparent;
	transform: translate(-50%, 0);
	transition: all 0.33s ease-out;
}

.shelf.active {
	opacity: 1;
	transition: all 0.33s ease-in;
}

.shelfItem {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 75px;
	min-height: 75px;
	max-height: 75px;
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	/* border: solid 1px cyan; */
}

.shelfTapeTray {
	width: 90%;
	min-width: 90%;
	max-width: 90%;
	height: 5px;
	min-height: 5px;
	max-height: 5px;
	top: 57px;
	z-index: 1100;
	position: absolute;
	left: 50%;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(16, 64, 64, 1) 0%,
		rgba(18, 143, 137, 1) 16%,
		rgba(128, 255, 255, 1) 50%,
		rgb(18, 143, 137, 1) 84%,
		rgba(16, 64, 64, 1) 100%
	);
	transform: translate(-50%, 0);
}

.shelfTapeTrayHolder {
	width: 21px;
	min-width: 21px;
	max-width: 21px;
	height: 8px;
	min-height: 8px;
	max-height: 8px;
	position: absolute;
	top: 62px;
	display: block;
	z-index: 1100;
	border-radius: 5px;
	background: linear-gradient(
		90deg,
		rgba(32, 64, 64, 1) 0%,
		rgba(128, 160, 160, 1) 16%,
		rgba(225, 255, 255, 1) 50%,
		rgba(128, 160, 160, 1) 84%,
		rgba(32, 64, 64, 1) 100%
	);
}

.shelfTapeTrayHolder.left {
	left: 25%;
}
.shelfTapeTrayHolder.right {
	right: 25%;
}

.shelfTapeHolder {
	width: 8px;
	min-width: 8px;
	max-width: 8px;
	height: 8px;
	min-height: 8px;
	max-height: 8px;
	position: absolute;
	top: 26px;
	display: block;
	z-index: 1100;
	border-radius: 4px;
	background: rgba(32, 64, 64, 1);
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 1) 0%,
		rgba(196, 224, 224, 1) 22%,
		rgba(128, 160, 160, 1) 68%,
		rgba(128, 160, 160, 1) 88%,
		rgba(32, 64, 64, 1) 100%
	);
	/* transform: translate(-100%, 0); */
}

.shelfTapeHolder.left {
	left: 44px;
}
.shelfTapeHolder.right {
	right: 44px;
}

.shelfItemGap {
	width: 75%;
	min-width: 75%;
	max-width: 75%;
	height: 9px;
	min-height: 9px;
	max-height: 9px;
	position: relative;
	margin: 0 auto;
}
