.toolbox {
	display: block;
	position: fixed;
	left: 50%;
	top: 0px;
	z-index: 10000;
	opacity: 1;
	width: 460px;
	min-width: 460px;
	max-width: 460px;
	height: 35px;
	min-height: 35px;
	max-height: 35px;
	border-radius: 0px 0px 12px 12px;
	background: #8f8f8f;
	background: linear-gradient(102deg, rgba(143, 143, 143, 1) 9%, rgba(189, 189, 189, 1) 42%, rgba(84, 83, 83, 1) 70%, rgba(41, 40, 40, 1) 99%);
	transform: translate(-50%, 0);
	transition: all 1.66s ease-out;
}

.toolboxLanguageButton {
	display: block;
	position: relative;
	float: left;
	left: 2px;
	top: 2px;
	opacity: 0.88;
	opacity: 1;
	z-index: 11000;
	width: 30px;
	min-width: 30px;
	max-width: 30px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/lang.png");
	transform: scale(1);
	transition: all 0.22s ease-out;
}

.toolboxLanguageButton:hover {
	transform: scale(1.12);
	transition: all 0.22s ease-in;
}

.toolboxLanguageButton.disabled {
	transform: scale(1);
	-webkit-filter: grayscale(85%);
	transition: all 0.22s ease-in;
}
.toolboxLanguageButton.disabled:hover {
	transform: scale(1.12);
	transition: all 0.22s ease-in;
}

.toolboxLanguageButton.off {
	display: none;
}

.toolboxSearch {
	display: block;
	position: relative;
	z-index: 11000;
	float: left;
	opacity: 1;
	top: 4px;
	left: 15px;
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	height: 25px;
	min-height: 25px;
	max-height: 25px;
	/* transition: all 0.33s ease-out; */
}

.toolboxSearchTextBox {
	display: block;
	position: relative;
	z-index: 11500;
	left: 0%;
	top: 0%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	color: #3c3c3c;
	font-weight: bold;
	font-family: Typing;
	font-size: 16px;
	/* background-color: transparent; */
	/* transition: all 0.33s ease-out; */
}

.toolboxSearchTextBox::-webkit-input-placeholder {
	color: #888888;
}

.toolboxSearchTextBox::-ms-input-placeholder {
	color: #888888;
}

.toolboxSearchTextBox::-moz-placeholder {
	color: #888888;
}

.toolboxSearchTextBox:focus::-webkit-input-placeholder {
	color: transparent;
}

.toolboxSearchTextBox:focus::-ms-input-placeholder {
	color: transparent;
}

.toolboxSearchTextBox:focus::-moz-placeholder {
	color: transparent;
}

.toolboxSearchButton {
	display: block;
	position: absolute;
	float: left;
	right: 3px;
	top: 3px;
	z-index: 11700;
	width: 20px;
	min-width: 20px;
	max-width: 20px;
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/search.png");
}

.toolboxSearchButton.off {
	display: none;
}

.toolboxClearButton {
	display: none;
	position: absolute;
	float: left;
	right: 5px;
	top: 5px;
	opacity: 1;
	z-index: 11700;
	width: 15px;
	min-width: 15px;
	max-width: 15px;
	height: 15px;
	min-height: 15px;
	max-height: 15px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/clear.png");
}

.toolboxClearButton.on {
	display: block;
}


.toolboxNavigation {
	display: block;
	position: relative;
	z-index: 11000;
	float: right;
	opacity: 1;
	top: 0px;
	right: 0px;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	min-height: 100%;
	max-height: 100%;
}

.toolboxScrollTopButton {
	display: block;
	position: relative;
	float: right;
	top: 0px;
	opacity: 1;
	z-index: 11500;
	width: 33px;
	min-width: 33px;
	max-width: 33px;
	height: 33px;
	min-height: 33px;
	max-height: 33px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/top.png");
	filter: brightness(1.0);
	transform: scale(1);
	transition: all 0.33s ease-out;
}
.toolboxScrollTopButton:hover {
	transform: scale(1.15);
	filter: brightness(1.11);
	transition: all 0.33s ease-in;
}
.toolboxScrollTopButton.disabled {
	cursor: default;
	filter: brightness(0.69);
}
.toolboxScrollTopButton.disabled:hover {
	transform: scale(1.0);
	filter: brightness(0.69);
	transition: all 0.33s ease-in;
}

.toolboxScrollUpButton {
	display: block;
	position: relative;
	float: right;
	top: 0px;
	opacity: 1;
	z-index: 11500;
	width: 33px;
	min-width: 33px;
	max-width: 33px;
	height: 33px;
	min-height: 33px;
	max-height: 33px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/up.png");
	filter: brightness(1.0);
	transform: scale(1);
	transition: all 0.33s ease-out;
}
.toolboxScrollUpButton:hover {
	transform: scale(1.15);
	filter: brightness(1.11);
	transition: all 0.33s ease-in;
}
.toolboxScrollUpButton.disabled {
	cursor: default;
	filter: brightness(0.69);
}
.toolboxScrollUpButton.disabled:hover {
	transform: scale(1.0);
	filter: brightness(0.69);
	transition: all 0.33s ease-in;
}

.toolboxScrollDownButton {
	display: block;
	position: relative;
	float: right;
	top: 0px;
	opacity: 1;
	z-index: 11500;
	width: 33px;
	min-width: 33px;
	max-width: 33px;
	height: 33px;
	min-height: 33px;
	max-height: 33px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/down.png");
	filter: brightness(1.0);
	transform: scale(1);
	transition: all 0.33s ease-out;
}
.toolboxScrollDownButton:hover {
	transform: scale(1.15);
	filter: brightness(1.11);
	transition: all 0.33s ease-in;
}
.toolboxScrollDownButton.disabled {
	cursor: default;
	filter: brightness(0.69);
}
.toolboxScrollDownButton.disabled:hover {
	transform: scale(1.0);
	filter: brightness(0.69);
	transition: all 0.33s ease-in;
}

.toolboxScrollBottomButton {
	display: block;
	position: relative;
	float: right;
	top: 0px;
	opacity: 1;
	z-index: 11500;
	width: 33px;
	min-width: 33px;
	max-width: 33px;
	height: 33px;
	min-height: 33px;
	max-height: 33px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/top.png");
	filter: brightness(1.0);
	transform: scale(1);
	transition: all 0.33s ease-out;
}
.toolboxScrollBottomButton:hover {
	transform: scale(1.15);
	filter: brightness(1.11);
	transition: all 0.33s ease-in;
}
.toolboxScrollBottomButton.disabled {
	cursor: default;
	filter: brightness(0.69);
}
.toolboxScrollBottomButton.disabled:hover {
	transform: scale(1.0);
	filter: brightness(0.69);
	transition: all 0.33s ease-in;
}
