.shelfTape {
	left: 50%;
	top: 0%;
	width: 460px;
	min-width: 460px;
	max-width: 460px;
	height: 56px;
	min-height: 56px;
	max-height: 56px;
	opacity: 1;
	z-index: 5000;
	position: absolute;
	color: #3c3c3c;
	font-weight: bold;
	font-family: Typing;
	font-size: 12px;
	line-height: 80%;
	word-break: normal;
	word-wrap: break-word;
	user-select: none;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/vhs_front_07.jpg");
	transform: translate(-50%, 0);
	transition: all 0.46s ease-out;
}

.shelfTape:hover {
	z-index: 20000;
	transform: translate(-50%, 12%) scale(1.25);
	transition: all 0.46s ease-out;
}

.shelfTapeFrontSticker {
	position: absolute;
	cursor: pointer;
	top: 6px;
	left: 83px;
	min-width: 347px;
	max-width: 347px;
	min-height: 42px;
	max-height: 42px;
	/* border: solid 1px magenta; */
}

.shelfTapeMovie {
	position: absolute;
	cursor: pointer;
	left: 35px;
	min-width: 270px;
	max-width: 270px;
	min-height: 23px;
	max-height: 23px;
}
.shelfTapeMovie.first {
	top: 2px;
	/* border: solid 1px cyan; */
}
.shelfTapeMovie.second {
	top: 22px;
	/* border: solid 1px lime; */
}

.shelfTapeMovieTitle {
	position: absolute;
	cursor: help;
	display: block;
	opacity: 1;
	left: 0%;
	min-width: 225px;
	max-width: 225px;
	min-height: 23px;
	max-height: 23px;
	text-align: left;
	color: #3c3c3c;
	transition: all 1.33s;
	/* border: solid 1px magenta; */
}

.shelfTapeMovieTitle:hover {
	color: #c00000;
	transition: all 1.33s;
	/* text-shadow: 5px 5px #ff0000; */
	/* border: solid 1px magenta; */
}

.shelfTapeMovieTitle.off {
	display: none;
	opacity: 0;
	transition: all 1.33s;
}

.shelfTapeMovieTitleAlt {
	position: absolute;
	cursor: help;
	display: none;
	opacity: 0;
	left: 0%;
	min-width: 225px;
	max-width: 225px;
	min-height: 23px;
	max-height: 23px;
	text-align: left;
	color: #3c3c3c;
	transition: all 1.33s;
	/* border: solid 1px magenta; */
}

.shelfTapeMovieTitleAlt:hover {
	color: #c00000;
	transition: all 1.33s;

	/* text-shadow: 5px 5px #a0e057; */
	/* border: solid 1px magenta; */
}

.shelfTapeMovieTitleAlt.on {
	display: block;
	opacity: 1;
	transition: all 1.33s;
}

.highlight {
	color: #f82020;
	font-weight: bolder;
	transform: scale(1.12) translate(5%, 4%);
	transition: all 1.33s;
}

.shelfTapeMovieInfo {
	position: absolute;
	cursor: default;
	right: 0%;
	min-width: 40px;
	max-width: 40px;
	min-height: 23px;
	max-height: 23px;
	text-align: left;
	/* border: solid 1px cyan; */
}

.tapeTitle1 {
	position: absolute;
	cursor: pointer;
	top: 8px;
	left: 118px;
	min-width: 215px;
	max-width: 215px;
	min-height: 23px;
	max-height: 23px;
}

.tapeTitle2 {
	position: absolute;
	cursor: pointer;
	top: 28px;
	left: 118px;
	min-width: 215px;
	max-width: 215px;
	min-height: 23px;
	max-height: 23px;
}

.titleSpan1 {
	display: block;
	position: absolute;
	margin-left: 5px;
	background: transparent;
}

.titleSpan1.off {
	display: none;
}

.titleSpan1alt {
	display: none;
	position: absolute;
	margin-left: 5px;
	background: transparent;
}

.titleSpan1alt.on {
	display: block;
}

.titleSpan2 {
	display: block;
	position: absolute;
	margin-left: 5px;
	background: transparent;
}

.titleSpan2.off {
	display: none;
}

.titleSpan2alt {
	display: none;
	position: absolute;
	margin-left: 5px;
	background: transparent;
}

.titleSpan2alt.on {
	display: block;
}

.tapeInfo1 {
	position: absolute;
	top: 8px;
	left: 353px;
	min-width: 80px;
	max-width: 80px;
	min-height: 23px;
	max-height: 23px;
}

.tapeInfo2 {
	position: absolute;
	top: 28px;
	left: 353px;
	min-width: 80px;
	max-width: 80px;
	min-height: 23px;
	max-height: 23px;
}

.tapeIdStickers {
	position: absolute;
	top: 11px;
	left: 22px;
	min-width: 15px;
	max-width: 15px;
	min-height: 37px;
	max-height: 37px;
}

.tapeIdSticker {
	min-width: 11px;
	max-width: 11px;
	min-height: 15px;
	max-height: 15px;
	position: absolute;
	background-color: cornsilk;
	border: solid 1px #d3ce93;
	box-shadow: -1px #00003c;
	font-size: 16px;
	font-weight: bolder;
	font-family: Courier;
	line-height: 100%;
	text-align: center;
	vertical-align: middle;
}
.tapeIdSticker.gray {
	color: rgb(61, 61, 61);
}
.tapeIdSticker.red {
	color: rgb(166, 0, 0);
}

.tapeIdSticker.first {
	position: absolute;
	bottom: 0px;
}
.tapeIdSticker.second {
	position: absolute;
	bottom: 12px;
}
.tapeIdSticker.third {
	position: absolute;
	bottom: 24px;
}

.tapeMoviePoster {
	position: absolute;
}
